# --- Framework ---
fastapi
uvicorn[standard]
gunicorn # Recomendado para producción

# --- Validación y Configuración ---
pydantic
email-validator # Crítico para la validación de email
python-decouple

# --- Supabase & DB ---
supabase

# --- Data Processing ---
pandas

# --- Scraping ---
requests
beautifulsoup4

# --- Document Generation ---
docxtpl
python-docx